<h1>Delete Event</h1>

<h3>Are you sure you want to delete the following event?</h3>

<p>Title: <%= @event.activity.title %> </p>
<p>Rate: $<%= @event.rate %> </p>
<p>Host: <%= @event.host.user.first_name %></p>
<p>Location: <%= @event.location.title %></p>
<p>Start Time: <%= DateTime.parse(@schedule_block['start_time']).strftime("%l:%M %p, %A, %B %e, %Y") %></p>
<p>End Time: <%= DateTime.parse(@schedule_block['end_time']).strftime("%l:%M %p, %A, %B %e, %Y") %></p>
<p>Reservation Minimum: <%= @schedule_block['reservation_min'] %></p>
<p>Reservation Maximum: <%= @schedule_block['reservation_max'] %></p>
<p>Status: <%= @schedule_block['status'] %></p>

<%= link_to 'Delete Event', event_path(schedule_block_ID: @schedule_block['id']), method: :delete, , class: 'btn btn-warning' %>



<br/>
<br/>

<%= link_to "Edit Event", edit_event_path(@event.id), class: 'btn btn-default' %>
<%= link_to "Create New Event", new_event_path, class: 'btn btn-default' %>
<%= link_to "All Events", events_path, class: 'btn btn-default' %>
