<h1>Events#index</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :activity_title_cont %>
  <%= f.search_field :activity_title_cont %>

  <%= f.submit %>

<% end %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Location</th>
			<th>Price</th>
		</tr>
	</thead>

	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.activity.title %></td>
				<td><%= event.location.title %></td>
				<td><%= event.rate %></td>
			</tr>
		<% end %>
	</tbody>
</table>
