<div class="row">
  <div class="col-md-3">
    <h1>Events</h1>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <br/>
    <button type="button" class="btn btn-default pull-right"><%= link_to 'Create New Event', new_event_path %></button>
  </div>
</div>

<div class="row">
  <%= search_form_for @q do |f| %>
    <%= f.label :activity_title_cont %>
    <%= f.search_field :activity_title_cont %>

    <%= f.submit %>

  <% end %>
</div>

<div class="row">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Location</th>
	      <th>Date</th>
        <th>Time</th>
	      <th>Reservation Min</th>
	      <th>Reservation Max</th>
        <th>Host</th>
        <th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
				<% schedule_block_array = @schedule_blocks.select{|sb| sb['event_id'] == event.id} %>
				<% schedule_block = schedule_block_array.first %>
				<tr>
					<td><%= link_to "#{event.activity.title}", event_path(event.id) %></td>
					<td><%= event.location.title %></td>
          <td><%= DateTime.parse(schedule_block['start_time']).strftime("%a, %B %e, %Y") %></td>
	        <td><%= DateTime.parse(schedule_block['start_time']).strftime("%l:%M")%>-<%= DateTime.parse(schedule_block['end_time']).strftime("%l:%M %p") %></td>
	        <td><%= schedule_block['reservation_min'] %></td>
	        <td><%= schedule_block['reservation_max'] %></td>
	        <td><%= link_to 'Edit', edit_event_path(event.id, schedule_block_ID: schedule_block['id']) %></td>
	        <td><%= link_to 'Delete', delete_event_path(event.id, schedule_block_ID: schedule_block['id']) %></td>
          <td><%= event.host.user.first_name %></td>
          <td><%= "$#{event.rate}" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-default"><%= link_to 'Create New Event', new_event_path %></button>
  </div>
</div>
