<div class="row">
  <div class="col-md-3">
    <h1>Events</h1>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <br/>
    <%= link_to 'Create New Event', new_event_path, class: 'btn btn-default pull-right' %>
  </div>
</div>

<div class="row">
  <%= search_form_for @q do |f| %>
    <%= f.label :activity_title_cont %>
    <%= f.search_field :activity_title_cont %>

    <%= f.submit %>

  <% end %>
</div>

<div class="row">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Location</th>
        <th>Host</th>
        <th>Price</th>
        <th>Event Instances</th>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
        <% schedule_block_array = @schedule_blocks.select{|sb| sb['event_id'] == event.id} %>
				<tr>
					<td><%= link_to "#{event.activity.title}", event_path(event.id) %></td>
					<td><%= event.location.title %></td>
          <td><%= event.host.user.first_name %></td>
          <td><%= "$#{event.rate}" %></td>
          <td><% unless schedule_block_array.empty? %>
                <% schedule_block_array.each do |sb| %>
                  <%= link_to "#{DateTime.parse(sb['start_time']).strftime("%a, %B %e, %Y")}  |  #{DateTime.parse(sb['start_time']).strftime("%l:%M %p")} - #{DateTime.parse(sb['end_time']).strftime("%l:%M %p")}",  edit_event_path(event.id, schedule_block_ID: sb['id']) %>
                <% end %>
              <% end %>
          </td>
          <td><%= link_to 'Edit Event', edit_event_path(event.id) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Create New Event', new_event_path, class: 'btn btn-default' %>
  </div>
</div>