<h1>New Event</h1>

<% if current_user.host %>

  <%= form_for @event do |f| %>

    <%= f.label :activity %>
    <%= f.collection_select :activity_id, Activity.all, :id, :title %><br/>

    <!--<%= f.label :new_activity, "or create a new activity:" %>
    <%= f.text_field :new_activity %><br/>-->
    
    <%= f.label :location %>
    <%= f.collection_select :location_id, Location.all, :id, :title %><br/>

    <!--<%= f.label :new_location, "or create a new location:" %>
    <%= f.text_field :new_location %><br/>-->

    <%= f.label :rate %>
    <%= f.number_field :rate %><br/>

    <%= f.fields_for :schedule_block_params do |x| %>
        <%= x.label :start_time %>
        <%= x.datetime_field :start_time %>

        <%= x.label :end_time %>
        <%= x.datetime_field :end_time %>

        <%= x.label :reservation_min %>
        <%= x.number_field :reservation_min %>

        <%= x.label :reservation_max %>
        <%= x.number_field :reservation_max %>
    <% end %>

    <%= hidden_field_tag :host, value = current_user.host %>

    <%= f.submit 'Create Event' %>
  <% end %>

<% else %>

  <h2>You cannot create an event, you are not a host!</h2>

<% end %>
