<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a New Event</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if current_user.host %>
      <%= bootstrap_form_for @event do |f| %>
        <%= f.collection_select :activity_id, Activity.all, :id, :title, prompt: "Select Activity" %>
        <%= f.fields_for :new_activity do |new_activity| %>
            <%= new_activity.text_field :title, label: 'or create a new activity: ', placeholder: 'Only use to create a new activity that is not listed above' %>
        <% end %>
        <%= f.collection_select :location_id, Location.all, :id, :title, prompt: "Select Location" %>
        <%= f.fields_for :new_location do |new_location| %>
            <%= new_location.text_field :title, label: 'or create a new location: ', placeholder: 'Only use to create a new location that is not listed above' %>
        <% end %>
        <%= f.number_field :event_rate, placeholder: 'Price in US dollars' %>
        <%= hidden_field_tag :host, value = current_user.host %>
        <%= f.submit 'Create Event' %>
      <% end %>
    <% else %>
      <h2>You cannot create an event, you are not a host!</h2>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= link_to 'All Events', events_path, class: 'btn btn-default' %>
    <% unless current_user.host.nil? %>
     <%= link_to 'Create New Event', new_event_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>


