<h1><%= "#{@event.activity.title} at #{@event.location.title}" %></h1>

<div class="row">
  <div class="col-md-12">
    <h2>Event Details</h2>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Rate</th>
          <th>Host</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @event.activity.title %></td>
          <td>$<%= @event.event_rate %></td>
          <td><%= @event.host.user.first_name %></td>
          <td><%= @event.location.title %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Event Instance</h2>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Attendees</th>
          <th>Reservation Min</th>
          <th>Reservation Max</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= DateTime.parse(@schedule_block['start_time']).strftime("%a, %B %e, %Y") %></td>
          <td><%= DateTime.parse(@schedule_block['start_time']).strftime("%l:%M")%>-<%= DateTime.parse(@schedule_block['end_time']).strftime("%l:%M %p") %></td>
          <td>NUMBER OF APPTS HERE</td>
          <td><%= @schedule_block['reservation_min'] %></td>
          <td><%= @schedule_block['reservation_max'] %></td>
          <td><%= @schedule_block['status'] %></td>
          <td><%= link_to 'Edit', edit_schedule_block_event_path(id: @event.id, sb_id: @schedule_block['id']) %></td>
          <td><%= link_to 'Cancel', block_schedule_block_event_path(id: @event.id, sb_id: @schedule_block['id'])%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= link_to 'All Event Instances for this Event', event_path(@event.id), class: 'btn btn-primary' %>
    <%= link_to 'Index of All Event Instances', index_schedule_block_events_path, class: 'btn btn-default' %>
  </div>
</div>