<h1>Your Event</h1>

<h3>Confirmation</h3>

<h4>You have succesfully saved an event! Please review the following information confirming the details of the event.</h4>

<p>Title: <%= @event.activity.title %> </p>
<p>Rate: $<%= @event.rate %> </p>
<p>Host: <%= @event.host.user.first_name %></p>
<p>Location: <%= @event.location.title %></p>
<p>Start Time: <%= DateTime.parse(@schedule_block['start_time']).strftime("%I:%M %p, %A, %B %e, %Y") %></p>
<p>End Time: <%= DateTime.parse(@schedule_block['end_time']).strftime("%I:%M %p, %A, %B %e, %Y") %></p>
<p>Reservation Minimum: <%= @schedule_block['reservation_min'] %></p>
<p>Reservation Maximum: <%= @schedule_block['reservation_max'] %></p>
<p>Status: <%= @schedule_block['status'] %></p>

<%= link_to "Edit Event", edit_event_path(@event.id) %>
<%= link_to "New Event", new_event_path %>
<%= link_to "All Events", events_path %>