<h1><%= "#{@event.activity.title} at #{@event.location.title}" %></h1>

<div class="row">
  <div class="col-md-12">
    <h2>Event Details</h2>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Location</th>
          <th>Host</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @event.activity.title %></td>
          <td><%= @event.location.title %></td>
          <td><%= @event.host.user.first_name %></td>
          <td>$<%= @event.event_rate %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Event Instances</h2>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @schedule_blocks.each do |sb| %>
        <tr>
          <td><%= DateTime.parse(sb['start_time']).strftime("%a, %B %e, %Y") %></td>
          <td><%= DateTime.parse(sb['start_time']).strftime("%l:%M")%>-<%= DateTime.parse(sb['end_time']).strftime("%l:%M %p") %></td>
          <td><%= sb['status'] %></td>
          <td><%= link_to 'Book this Event Instance', show_schedule_block_event_path(id: @event.id, sb_id: sb['id']), class: 'btn btn-success' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>