<h1>New Location</h1>

<%= form_for @location do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :description %>
  <%= f.text_field :description %><br />

  <%= f.label :latitude %>
  <%= f.text_field :latitude %><br />

  <%= f.label :longitude %>
  <%= f.text_field :longitude %> <br />

  <%= f.submit 'Create Location' %>
<% end %>

<%= link_to 'All Locations', locations_path %>
<%= link_to 'New Location', new_location_path %>